---
- name: Create
  hosts: localhost
  connection: local
  gather_facts: false
  no_log: "{{ molecule_no_log | default(false) }}"

  vars:
    ssh_identity_file: "{{ lookup('env', 'MOLECULE_EPHEMERAL_DIRECTORY') }}/ssh_key"
    gcp_project_id: "robust-arcadia-475009-p4"
    gcp_zone: "us-central1-b"
    gcp_region: "us-central1"
    gcp_sa_file: "{{ lookup('env','GCP_SERVICE_ACCOUNT_FILE') }}"

  tasks:
    - name: Make sure instance_os_type is either linux or windows
      ansible.builtin.assert:
        that:
          - molecule_yml.driver.instance_os_type | lower == "linux" or molecule_yml.driver.instance_os_type | lower == "windows"
        fail_msg: "instance_os_type must be linux or windows"

    - name: Get network info
      google.cloud.gcp_compute_network_info:
        filters:
          - name = "{{ molecule_yml.driver.network_name | default('default') }}"
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_sa_file }}"
      register: my_network

    - name: Get subnetwork info
      google.cloud.gcp_compute_subnetwork_info:
        filters:
          - name = "{{ molecule_yml.driver.subnetwork_name | default('default') }}"
        project: "{{ gcp_project_id }}"
        region: "{{ gcp_region }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_sa_file }}"
      register: my_subnetwork

    - name: Set external access config
      ansible.builtin.set_fact:
        external_access_config:
          - access_configs:
              - name: External NAT
                type: ONE_TO_NAT
      when: molecule_yml.driver.external_access

    - name: Include create_linux_instance tasks
      ansible.builtin.include_tasks: create_linux_instance.yml
      when: molecule_yml.driver.instance_os_type | lower == "linux"

  handlers:
    - name: Import main handler tasks
      ansible.builtin.import_tasks: handlers/main.yml
