# ansible/roles/apache/molecule/default/create_linux_instance.yml
# Fully hardcoded Linux VM creation

- name: Create Linux VM instance
  google.cloud.gcp_compute_instance:
    name: "linuxgce-createdbymolecule"        # hardcoded instance name
    machine_type: "n1-standard-1"             # hardcoded machine type
    zone: "us-central1-b"                      # hardcoded zone
    project: "robust-arcadia-475009-p4"       # hardcoded project ID
    auth_kind: serviceaccount
    service_account_file: "{{ lookup('env','GCP_SERVICE_ACCOUNT_FILE') }}"
    disks:
      - auto_delete: true
        boot: true
        initialize_params:
          source_image: "projects/debian-cloud/global/images/family/debian-11"  # hardcoded source image
    network_interfaces:
      - network: "global/networks/default"  # default network
        access_configs:
          - name: External NAT
            type: ONE_TO_NAT
