- name: Harden Golden Image
  hosts: all
  become: true

  tasks:
    - name: Install base packages
      apt:
        name:
          - curl
          - wget
          - unzip
          - jq
        state: present
        update_cache: yes

    - name: Disable root login over SSH
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^PermitRootLogin"
        line: "PermitRootLogin no"

    - name: Enable UFW
      ufw:
        state: enabled

    - name: Allow SSH
      ufw:
        rule: allow
        port: 22
        proto: tcp

    - name: Restart SSH
      service:
        name: ssh
        state: restarted
