name: Golden Image Build - GCP

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Packer
      uses: hashicorp/setup-packer@v3

    - name: Setup Ansible
      run: sudo apt-get update && sudo apt-get install -y ansible

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set GCP Project
      run: gcloud config set project ${{ secrets.GCP_PROJECT_ID }}

    # ✅ UNIT TESTING
    - name: Packer Validate
      run: |
        cd packer
        packer init .
        packer validate \
          -var "project_id=${{ secrets.GCP_PROJECT_ID }}" .

    - name: Ansible Lint
      run: |
        pip install ansible-lint
        ansible-lint ansible/harden.yml

    # ✅ IMAGE BUILD
    - name: Build Golden Image
      run: |
        cd packer
        packer build \
          -var "project_id=${{ secrets.GCP_PROJECT_ID }}" .

