name: Apache Golden Image - GCP   

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-apache-image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Packer
      uses: hashicorp/setup-packer@v3

    - name: Install Ansible
      run: sudo apt-get update && sudo apt-get install -y ansible

    - name: GCP Auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.SA_KEY }}

    - name: Set Project
      run: gcloud config set project ${{ secrets.GCP_PROJECT_ID }}

    # ✅ UNIT TEST
    - name: Packer Validate
      run: |
        cd packer
        packer init .
        packer validate -var "project_id=${{ secrets.GCP_PROJECT_ID }}" .

    # # ✅ BUILD IMAGE
    # - name: Build Apache Image
    #   run: |
    #     cd packer
    #     packer build -var "project_id=${{ secrets.GCP_PROJECT_ID }}" .

    # - name: Build Apache Golden Image
    #   id: packer_build
    #   run: |
    #     cd packer
    #     packer build apache-image \
    #       -var "project_id=${{ secrets.GCP_PROJECT_ID }}" . > packer-output.log

    - name: Build Apache Golden Image
      id: packer_build
      run: |
        cd packer
        packer init .
        packer validate -var "project_id=${{ secrets.GCP_PROJECT_ID }}" .
        packer build -var "project_id=${{ secrets.GCP_PROJECT_ID }}" . | tee packer-output.log



    - name: Capture Image Name
      id: capture_image
      run: |
        IMAGE_NAME=$(gcloud compute images list \
          --project=${{ secrets.GCP_PROJECT_ID }} \
          --filter="name~'apache'" \
          --sort-by=~creationTimestamp \
          --limit=1 \
          --format="value(name)")
    
        if [ -z "$IMAGE_NAME" ]; then
          echo "ERROR: Image not found!"
          exit 1
        fi
    
        echo "IMAGE_NAME=$IMAGE_NAME"
        echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV



    # ----------------------------
    # SETUP GO FOR TERRATEST
    # ----------------------------
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.21

    
    # ----------------------------
    # ✅ INTEGRATION TEST (TERRATEST)
    # ----------------------------
    - name: Run Terratest on Image
      run: |
        cd test
        go mod tidy
        IMAGE_NAME=${{ env.IMAGE_NAME }} \
        go test -v -timeout 30m ./integration
    


    - name: Delete Image If Tests Fail
      if: failure()
      run: |
        echo "❌ Tests failed. Deleting bad image: $IMAGE_NAME"
        gcloud compute images delete $IMAGE_NAME \
          --project=${{ secrets.GCP_PROJECT_ID }} --quiet


