name: Apache Golden Image - GCP 

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-apache-image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Packer
      uses: hashicorp/setup-packer@v3

    - name: Install Ansible
      run: sudo apt-get update && sudo apt-get install -y ansible

    - name: GCP Auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set Project
      run: gcloud config set project ${{ secrets.GCP_PROJECT_ID }}

    # ✅ UNIT TEST
    - name: Packer Validate
      run: |
        cd packer
        packer init .
        packer validate -var "project_id=${{ secrets.GCP_PROJECT_ID }}" .

    # ✅ BUILD IMAGE
    - name: Build Apache Image
      run: |
        cd packer
        packer build -var "project_id=${{ secrets.GCP_PROJECT_ID }}" .
